<!-- BOOTSTRAP HEADER -->
{% extends 'base.html' %}

{% block content %}

    <div class="main d-flex bg-info-subtle">
        <!-- SIDEBAR -->
        <div class="aside bg-info text-white d-flex flex-column pt-2">
            <h1 class="text-center">ADMIT</h1>
            <h3>Alaska University Admissions</h3>
            <br>
            <!-- ADD NEW APPLICANTS -->
            <div class="flex-grow-1">
                <h4 class="text-center">Upload Applicants</h4>
                <br>
                <iframe src="{{ url_for('upload') }}" onload="refreshCharts()"></iframe>
            </div>
            <!-- INDIVIDUAL ADMISSIONS DECISION -->
            <div class="flex-grow-1">
                <h4 class="text-center">Likelihood of Admission</h4>
                <iframe class="iframe" src="{{ url_for('predict') }}" ></iframe>
            </div>
            <!-- DOWNLOAD CSV -->
            <div class="flex-grow-1">
                <h4 class="text-center">Download Data</h4>
                <div class="d-flex justify-content-center">
                    <a href="../static/au_admissions.csv" download>
                        <button type="button" class="btn btn-sm btn-new mx-1">Historic Decisions</button>
                    </a>
                    <a href="../static/new_data.csv" download>
                        <button type="button" class="btn btn-sm btn-new mx-1">New Decisions</button>
                    </a>
                </div>
            </div>
        </div>
        <!-- MAIN DASHBOARD -->
        <div class="container flex-container bg-info-subtle mt-2" id="visuals">
            <div class="row flex-row mx-3 justify-content-evenly">
                <div class="col flex-column col-5 mb-1 me-2">
                    <!-- CORRELATION MATRIX -->
                    <h4>RELATIONSHIP IMPORTANCE</h4>
                    <img src="../static/correlation.png" class="img-thumbnail bg-transparent" alt="correlation matrix" id="correlation">
                </div>
                <div class="col flex-column col-5 mb-1 me-2">
                    <!-- HISTOGRAMS -->
                    <h4>SCORE DISTRIBUTION</h4>
                    <div>
                        <ul class="nav nav-tabs nav-justified text-info-emphasis" role="tablist">
                            <li class="nav-item" role="presentation">
                                <a class="nav-link active" data-bs-toggle="tab" role="tab" tabindex="-1" href="#gre">by GRE</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" data-bs-toggle="tab" role="tab" tabindex="-1" href="#cgpa">by CGPA</a>
                            </li>
                            <li class="nav-item" role="presentation">
                                <a class="nav-link" data-bs-toggle="tab" role="tab" tabindex="-1" href="#sop">by SOP</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content align-content-center justify-content-evenly" id="histTabs">
                        <div id="gre" class="tab-pane fade active show" role="tabpanel">
                            <img src="../static/gre_hist.png" class="img-thumbnail bg-transparent" alt="gre histogram" id="gre_hist">
                        </div>
                        <div id="cgpa" class="tab-pane fade" role="tabpanel">
                            <img src="../static/cgpa_hist.png" class="img-thumbnail bg-transparent" alt="cgpa histogram" id="cgpa_hist">
                        </div>
                        <div id="sop" class="tab-pane fade" role="tabpanel">
                            <img src="../static/sop_hist.png" class="img-thumbnail bg-transparent" alt="sop histogram" id="sop_hist">
                        </div>
                    </div>
                </div>
                <div class="col flex-column col-5">
                    <!-- PIE CHART -->
                    <h4>ADMITTANCE RATE</h4>
                    <img src="../static/decision_pie.png" class="img-thumbnail bg-transparent" alt="pie chart" id="pie">
                </div>
                <div class="col flex-column col-4" >
                    <!-- SCATTERPLOT -->
                    <h4>SCORES BY DECISION</h4>
                    <img src="../static/scatterplot.png" class="img-thumbnail bg-transparent" alt="scatterplot" id="scatterplot">
                </div>
            </div>
        </div>
    </div>


    <!-- REFRESH DASHBOARD CHARTS AFTER NEW DATA UPLOAD -->
    <script>
        function refreshCharts() {
            let scatterplot = document.getElementById('scatterplot');
            let pie = document.getElementById('pie');
            let gre_hist = document.getElementById('gre_hist');
            let cgpa_hist = document.getElementById('cgpa_hist');
            let sop_hist = document.getElementById('sop_hist');
            let correlation = document.getElementById('correlation')

            let time = new Date().getTime();

            scatterplot.src = '../static/scatterplot.png?' + time;
            pie.src = '../static/decision_pie.png?' + time;
            gre_hist.src = '../static/gre_hist.png?' + time;
            cgpa_hist.src = '../static/cgpa_hist.png?' + time;
            sop_hist.src = '../static/sop_hist.png?' + time;
            correlation.src = '../static/correlation.png?' + time;
            }
    </script>



{% endblock %}
