<!-- QUERY DECISION BY SCORES FORM -->
<form method="POST" style="align-content: center">
    <span>
        <label for="gre">GRE:</label><br>
        <input type="number" id="gre" name="gre" min="260" max="340"><br>
    </span>
    <span>
        <label for="cgpa">CGPA:</label><br>
        <input type="number" id="cgpa" name="cgpa" min="0.5" max="10" step="0.1"><br>
    </span>
    <span>
        <label for="sop">SOP:</label><br>
        <input type="number" id="sop" name="sop" min="1" max="5" step="0.5"><br><br>
    </span>
    <input type="submit" value="Predict">
</form>
